.copy-right-div{
    font-family: sans-serif;
    background-color: rgb(22, 21, 21);
    color: white;
    height: 45px;
    width: 100%;
    padding-top: 3px;
    display: flex;
    align-content: center;
    justify-content: center;
    position: fixed;
    bottom: -15px;
}
