<!DOCTYPE html>
<html>
<head>
<title>Add</title>
<meta name="viewport" content="width=device-width"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0/css/bootstrap-grid.min.css" integrity="sha512-vWtGaoxGWtwzJnP6e3YbBCE2BAEbldcuL4TVO3IbW/IFocN/XxuBv3Fuqm7t+I4eZ7p8L9iBElSUqXQUbQmarA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<form name="add-photo" >
		<label>Name: <input type="text" name="name" data-netlify="true"/></label>
		<button type="submit">send</button>
	</form>
</body>
</html>
