body{
    color:white;
    background:#444141;
    padding-bottom:20px;
    font-family:sans-serif;
}
.admin-area h2{
    text-align: center;
    margin-top: 20px;
}
#validationSpan{
    position: relative;
    left: 37%;
}
form{
	margin-top:60px;
	margin-bottom: 40px;
}
.form-group, .btn{
	margin-left:10px;
}
.form-control {
	background:#262626;
	outline:0;
	color: #34d2eb;
        margin-bottom: 25px;
        width: 330px;
}
.form-control:focus {
	background:#262626;
	outline:0;
	color: #34d2eb;
}
#preview {
	height:170px;
	width:340px;
	color:grey;
	font-weight:800;
	background:transparent;
	display:flex;
	justify-content:center;
	align-items:center;
	padding:5px;
	margin-bottom:10px;
	
}
#preview img{
	height:100%;
	width:auto;
	max-width:100%;
	border:2px solid grey;
}
.recaptcha{
    margin-left:10px;
    margin-bottom:5px;
}
.go-back{
    position:fixed;
    top:-10px;
    right:10px;
}
