@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css';

body {
    background-color: #444141;
    color: white;
}

nav {
    background-color: #262626;
    width: 100%;
    height: 55px;
    padding: 7px 10px 0 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: sans-serif;
    position: fixed;
    top: 0;
    left: 0;
}

nav a, Link{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
nav .btn{
    margin-bottom: 10px;
}

nav a:hover, Link:hover{
    color: white;
}

.nav-items {
    padding: 7px;
    text-decoration: none;
    color: white;
    margin-right: 20px;
    border: 0;
    background-color: transparent;
}

.nav-items:hover {
    background-color: #383636;
    padding: 7px;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0px rgb(8, 8, 8);
}

.menu {
    display: none;
    pointer-events: none;
}
.menu-sec{
    display: none;
    pointer-events: none;
}

.menu-content {
    display: none;
    pointer-events: none;
}

.logo {
    height: 30px;
    width: 30px;
    margin-top: -7px;
    margin-right: 10px;
    border-radius: 50%;
}

.logo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.contact-items {
    line-height: 50px;
}

.heading {
    text-align: center;
    margin-top: 10px;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
}
.categories-btn{
    border: 0;
    border-bottom: 1px solid white;
    height: 35px;
    width: 170px;
    background-color: #1f1b1b;
    color: white;
    position: fixed;
    top: 55px;
    left: 0;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.close-btn{
    display: none;
}
.categories-menu{
    background-color: #1f1b1b;
    height: auto;
    width: 170px;
    padding-top: 15px;
    position: fixed;
    top: 90px;
    left: 0;
    overflow-y: scroll;
    display: grid;
    place-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}
.categories-menu a{
    text-decoration: none;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
}
.categories-menu .categ-icon{
    margin-right: 5px;
}

.About-area {
    padding: 10px;
    margin-top: 90px;
}
.Thanks-area{
    margin-top: 80px;
}
.Thanks-area h2{
    text-align: center;
}
.Thanks-area .btn{
     position: absolute;
     left: 50%;
     transform: translate(-50%);
     margin-top: 10px;
}

.About-area a {
    text-decoration: none;
    color: white;
}

.About-area p {
    height: auto;
    width: 250px;
    padding: 20px;
    margin-top: 20px;
    background-color: #292929;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.poster-area {
    background-color: transparent;
    width: 100%;
    height: 100vh;
    margin-top: 90px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.poster {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
}

.poster img{
    width: 160px;
    height: 250px;
    object-fit: cover;
    margin: 10px;
    margin-left: 25px;
    margin-right: 2px;
}
.link{
    position:relative;
    top:-50px;
    left:25px;
    height:40px;
    width:160px;
    background:rgba(0, 0, 0, 0.29);
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top: 10px;
}
.link h5{
    font-size: 18px;
}
.poster .post a{
    text-decoration: none;
    color: white;
}
.admin-area{
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid grey;
    padding: 10px;
    padding-top: 0;
}
@media(max-width:600px) {
    nav {
        display: flex;
        justify-content: left;
    }

    nav a {
        margin-right: 10px;
    }
   nav  .btn {
        position: absolute;
        right: 40px;
   }

    .nav-items {
        display: none;
        pointer-events: none;
    }

    .poster {
        display: flex;
        justify-content: space-around;
    }
    .poster img {
        width: 160px;
        height: 250px;
        object-fit: cover;
        margin: 10px;
    }
    .admin-area{
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translate(-50%);
        border: 0;
        padding: 10px;
        padding-top: 0;
}

    .menu {
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: rgb(68, 68, 68);
        height: 40px;
        width: 40px;
        display: none;
        pointer-events: none;
        justify-content: center;
        align-items: center;
        pointer-events: auto;
        border: 0;
        font-size: 30px;
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    .menu::before {
        font-family: FontAwesome;
        content: '\f0c9';
        color: white;
    }

    .menu:checked::before {
        color: #ffffff;
    }

    .menu-sec {
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: auto;
        border: 0;
        font-size: 30px;
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
    .menu-sec::before {
        font-family: FontAwesome;
        content: '\f0c9';
        color: white;
    }

    .menu-content {
        background-color: #292929;
        height: 400px;
        width: 200px;
        position: fixed;
        top: 50px;
        right: 0;
        visibility: hidden;
        display: flex;
        pointer-events: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .menu-content a, Link{
        color: white;
        font-size: 18px;
        text-decoration: none;
        text-align: center;
        line-height: 0;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 2px;
    }
    .link{
        left: 10px;
    }
}
